.section-filter {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.section-filter button {
  align-items: center;
  background-color: white;
}

.filter-btn {
  display: flex;
  flex-direction: column;
  height: 45px;
}

.section-filter p {
  color: #797d86;
  width: 58px;
}

.section-filter img {
  height: 44px;
  width: 44px;
}

.filter-text {
  font-family: ' Segoe UI ' , Tahoma , Geneva , Verdana , sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: 9px;
  margin-top: 5px;
  text-align: center;
}

@media screen and ( min-width : 768px ) {

  .filter-btn {
    height: auto;
  }

  .section-filter img {
    height: 140px;
    width: 140px;
  }

  .section-filter p {
    color: #797d86;
    line-height: 25px;
    width: 160px;
  }

  .filter-text {
    font-size: x-large;
  }
}
