footer {
  background-color: #41197f;
  border-top: 1px solid #333;
  bottom: 0;
  display: flex;
  height: 52px;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer button {
  background-color: #41197f;
  margin: 0 40px;
}
