.section-header {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  height: 52px;
}

.section-header button {
  background-color: #fcdc36;
  margin-right: 20px;
}

.icone-recipes {
  margin-left: 20px;
}

.profile-icon {
  position: absolute;
  right: 0;
}

.search-icon {
  position: absolute;
  right: 40px;
}

header {
  text-align: center;
}

.drink-img {
  height: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.title {
  font-family: ' Segoe UI ' , Tahoma , Geneva , Verdana , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and ( min-width : 768px ) {

  .title {
    font-size: xx-large;
    margin-bottom: 60px;
  }

  .drink-img {
    height: 120px;
    margin-bottom: 30px;
    margin-top: 70px;
    width: 120px;
  }

  .section-header {
    height: 100px;
  }

  .icone-recipes {
    height: 90px;
    margin-left: 50px;
    width: 90px;
  }

  .profile-icon, .search-icon {
    height: 70px;
    width: 70px;
  }

  .search-icon {
    position: absolute;
    right: 160px;
  }

  .profile-icon {
    position: absolute;
    right: 40px;
  }
}
