.card {
  background: white;
  display: flex;
  height: 135px;
  margin: 0 20px;
  margin-bottom: 20px;
  width: 318px;
}

.favorite-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card button {
  background-color: white;
}

.card section {
  border: 0.1px solid #b1b1b1;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  text-align: start;
  width: 156px;
}

.card section h4 {
  color: #1a1b1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 33px;
}

.card section p {
  color: #797d86;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: 9px;
  margin-bottom: 35px;
  margin-left: 20px;
  text-align: start;
}

.black-heart {
  margin-left: 15px;
}

.share-icon {
  margin-left: 20px;
}

.img-card {
  border-radius: 5px 0 0 5px;
  height: 134.85px;
  overflow: hidden;
  width: 163.35px;
}

@media screen and ( min-width : 768px ) {

  .card {
    height: 190px;
    margin-bottom: 30px;
    width: 450px;
  }

  .img-card {
    height: 190px;
    width: 230px;
  }

  .card section {
    height: 190px;
    width: 218px;
  }
}
