* {
  font-family: ' Segoe UI ' , Tahoma , Geneva , Verdana , sans-serif;
}

.img-recipe-details {
  height: 161.85px;
  overflow: hidden;
}

.ingredient-box {
  background-color: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 315px;
}

.span-ingredient {
  color: #1a1b1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.instructions {
  background-color: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  color: #1a1b1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  text-align: justify;
  width: 305px;
}

.sect button {
  background-color: white;
}

.p-ingredient {
  color: #1a1b1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 15px;
  margin-top: 30px;
  text-align: start;
}

.p-instruction {
  color: #1a1b1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: start;
}

.search-recipe-details, .favorite-recipe-details {
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  cursor: pointer;
  padding: 5px;
  padding-bottom: 3px;
  position: absolute;
  top: 25px;
}

.search-recipe-details {
  right: 65px;
}

.favorite-recipe-details {
  right: 20px;
}

.p-category {
  color: #fcc436;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  left: 20px;
  line-height: 12px;
  position: absolute;
  top: 31px;
}

.p-title {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  line-height: 20px;
  margin: auto;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 70px;
  width: 100%;
}

.ingredients p {
  color: #1a1b1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.ingredients {
  margin: 10px 0;
  margin-left: 20px;
  text-align: start;
}

.video {
  height: 205.09px;
  margin-top: 10px;
  width: 336px;
}

@media screen and ( min-width : 768px ) {

  .ingredient-box, .instructions {
    font-size: large;
    line-height: 20px;
    width: 800px;
  }

  .video {
    height: 400px;
    margin-bottom: 20px;
    width: 800px;
  }

  .ingredients p {
    font-size: large;
    line-height: 20px;
  }

  .carousel {
    margin: auto;
    width: 1000px;
  }

  .arrumando {
    margin-bottom: 50px;
    width: 950px;
  }

  .button-start {
    left: 41.5%;
  }
}
