* {
  border: 0;
  color: #41197f;
  font-family: ' Segoe UI ' , Tahoma , Geneva , Verdana , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

img {
  width: 100%;
}

.tomate {
  position: absolute;
  top: 158px;
}

.login {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
}

.section-logo img {
  margin-top: 30px;
  width: 55%;
}

.section-logo {
  background-color: #41197f;
  height: 346px;
}

.form-login {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.email, .password {
  border: 1px solid #41197f;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  line-height: 14px;
  margin: 5px;
  padding-left: 20px;
  width: 256px;
}

.button-login {
  background-color: #fcc436;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin: 5px;
  text-transform: uppercase;
  width: 276px;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.test {
  text-decoration: line-through solid black;
}

.carousel {
  display: flex;
  margin-bottom: 60px;
  margin-left: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 350px;
}

.carousel-div {
  flex-shrink: 0;
  margin-top: 10px;
}

section {
  text-align: center;
}

.button-start {
  background-color: #fcc436;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  left: 4%;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin: 15px auto;
  position: fixed;
  text-transform: uppercase;
  width: 336px;
}

.arrumando {
  margin: auto;
}

@media screen and ( min-width : 380px ) {

  .section-logo img {
    width: 350px;
  }

  .login {
    margin-top: 30px;
  }

  .tomate {
    display: none;
  }
}
